body { font-size: 14px !important; }
.clear { clear: both;}
.navbar { margin-bottom: 0 !important; border-radius: 0; border: none; }
.social-bar { border-bottom: 1px solid #3f4953; }
.affix { top: 0px; width:100%;}
#social-bar-links li { border-left: 1px solid #3f4953; }
#social-bar-links li:last-child{ border-right: 1px solid #3f4953;	margin-right: 5px; }
.navbar-lower { height: 88px !important; z-index: 1;}
.mh-menu-bar { margin-top: 20px;}
.mh-logo {padding-top: 0;}
.navbar-brand {font-size: 16px;}
.navbar-brand i {margin-right: 5px;}

/* Show Dropdown on hover */
.parent-dropdown:hover >.dropdown-menu { display: block;float: right !important;}
.navbar-right .dropdown-menu {right: auto;}
.navbar-lower .navbar-nav>li { margin-right: 1px; }
.dropdown-menu li {padding-top: 10px;}

.navbar-inverse .navbar-nav a {transition: background-color 0.3s ease;}
.navbar-inverse { background-color: #29333D;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {background-color: #ED7401;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #ED7401}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #ED7401; }
}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #ED7401}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { background-color: #ED7401;}
.navbar-inverse { border-color: #FFFFFF}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #ED7401;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #ED7401;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}



.twitter-bg >a, .facebook-bg > a, .googleplus-bg > a, .linkedin-bg > a, .youtube-bg > a {transition: background-color 0.5s ease;}
.twitter-bg >a:hover{background-color: #00aced !important;}
.facebook-bg >a:hover{background-color: #3b5998 !important;}
.google-plus-bg >a:hover{background-color: #dd4b39 !important;}
.linkedin-bg >a:hover{background-color: #007bb5 !important;}
.youtube-bg >a:hover{background-color: #bb0000 !important;}

/*.mh-header-banner { background: url('../images/mortgage_house_header_banner.jpg'); height: 273px; }*/
.mh-header-banner { height: 273px; }
.main-content-wrap { min-height: 300px; margin-bottom: 30px; }
.right-sidebar { min-height: 400px;}
.footer-top { background: #2f3945; }
.site-footer { background: #192229; padding: 40px 0;}
.site-footer  p { color: #959ea5; margin: 0;}

.footer-menu-cont ul {margin: 0; padding: 0;}
.footer-menu-cont ul li{float: left; margin-right: 23px;}
.footer-menu-cont ul li a{ color: #858e95; text-decoration: none; }
.footer-menu-cont ul li a:hover{ color: #ed9c4e; }

.footer-top-widgets {padding: 30px 0;}
.company-intro {color: #9fa9b5; font-size: 13px;}

.contact-info-details { color: #9fa9b5; font-size: 14px; line-height: 25px; margin: 0; padding: 0; }
.contact-info-details .fa-lg { font-size: 1.4em; margin-right: 5px; }
.contact-info-details li a{ color: #9fa9b5; }
.contact-info-details li a:hover{ color: #ed9c4e; text-decoration: none; }

.contact-info-social {margin: 30px 0 0 0; padding: 0;}
.contact-info-social li {float: left; margin-right: 3px; }
.contact-info-social li a{ color: #9da7b1; padding: 14px; border: 1px solid #707a86; border-radius: 2px; }
.contact-info-social li a:hover{ color: #fff; border: 1px solid #fff;}

.main-intro-heading { font-size: 30px; color: #27ae60; margin: 25px 0 20px 0;}
.programs-heading, .services-heading {font-size: 18px; color: #27ae60; font-weight: bold; margin-bottom: 25px;}
.services-heading { margin-top: 25px;}
.programs-cont { margin-bottom: 15px; }
.program-content { }
.program-icon { font-size: 25px; padding: 0 15px 0 0; vertical-align: top; color: #f55a4e;}
.program-title { font-size: 18px; }
.program-title a:visited, .program-title a{ color: #404040; text-decoration: none;}
.program-text { font-size: 14px; color: #898989; }
.program-text p { margin-bottom: 8px;}
.program-text p a { color: #f55a4e; text-decoration: none; }
.program-title a:hover, .program-title a:focus, .program-text p a:hover, .program-text p a:focus { color: #898989; }

.carouse-bg { background: #eeeeee; padding: 10px 0; margin-bottom: 20px;}


.widgets-wraps {margin-top: 20px; margin-bottom: 13px;}
/*.row.widgets-wraps {	margin-left: 0; margin-right:0;	} */

.footer-top-widgets .widgets-wraps { margin-left: 0; margin-right: 40px; margin-top: 0;}
.footer-top-widgets .widgettitle { color: #efefef; text-transform: uppercase; font-size: 18px; margin-bottom: 30px; margin-top: 5px; margin-left: -15px;}
.pre-approved-cont { background-color: #e0e0e0; padding: 40px 20px; font-size: 18px; border-radius: 15px; }
.pre-approved-cont div {margin-top: 35px;}
.pre-approved-btn { border: 2px solid #41b572; padding: 10px; border-radius: 5px; margin-top color: #404040; transition: background-color 0.5s ease;}
.pre-approved-btn:visited { color: #404040; }
.pre-approved-btn:hover, .pre-approved-btn:focus  { color: #404040; text-decoration: none; background: #fff;}

.CCM-Widget {background: #b2d9e5;}
.footer-service-cont{ color: #9fa9b5; border-bottom: 1px solid #676767; margin-top: 17px;}
.footer-service-cont:last-child{ border: none;}
.footer-service-cont p {margin-bottom: 15px;}
.footer-service-cont h4 a  { color: #ccc; text-decoration: none; text-transform: uppercase; font-size: 14px; transition: color 0.3s ease;}
.footer-service-cont h4 a:hover  { color: #fff;}

.contact-sidebar .widgets-wraps:nth-child(2) { background: #2f3945; padding: 20px 20px 30px; color: #fff; border-radius: 10px;}

#rev_slider_1_1_wrapper {z-index: 0 !important; height: 273px !important;}

/* Multi-Level Drop Down Styles Start */
/*
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
} 
*/
/* Multi-Level Drop Down Styles End */

@media (min-width:320px) and (max-width:480px){
	#social-bar-links {
		display: none;
	}			
	.navbar-lower {
		height: auto !important;
	}
	.row.widgets-wraps {
		margin-left: 0; margin-right:0;
	}
	.footer-top-widgets .widgets-wraps {
		margin-left: 15px; margin-right: 15px; 
	}
	.navbar-static-top {
		z-index: 0;
	}
	.navbar-toggle {
		margin-top: -64px;
	}
}

@media (min-width: 600px) {
}
